*, html{
    padding: 0px;
    margin: 0px;
}
main{
    text-align: center;
}

#js-search-text{
    margin: 15px;
}

#js-form li{
    list-style: none;
    display: inline-block;
    padding: 15px;
    border: 1px solid black;
}

#js-form ul{
    padding: 0px;
}

#js-form a{
    text-decoration: none;
    color: black;
}

#info-list li, #similar-list li{
    list-style: none; 
    padding: 10px;
    width: auto;
}