#results-list li{
    list-style: none;
}

#js-form li{
    list-style: none;
    display: inline-block;
    padding: 15px;
    border: 1px solid black;
}

#js-form ul{
    padding: 0px;
}

#js-form a{
    text-decoration: none;
    color: black;
}

.clickback{
    background-color: grey;
}